{% extends 'base.html' %}

{% load static %}

{% block content %}
<section>
    <div class="main-image">
        <img src="static/images/sword-grass-small.png" alt="logo">
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="main-title">
                <h1 class="title"><strong>build</strong>.mt</h1>
            <div class="container main-subtitles">
                <h3>
                    Build inspiration made easy.
                </h3>
                <h4>
                    Simple & easy to understand character builds for Baldur's Gate & Elden Ring.
                </h4>
            </div>
        </div>
    </div>
    <div>
        
    </div>
</section>

{% endblock %}